@charset "utf-8";
/* CSS Document */

	/* Resets */
ul {
    padding:0;
    margin:0 0 20px 0;
    list-style:none;
}
fieldset ul {
    margin:0 0 0 0;
}
h1, h2 {
    padding:0;
    margin:0 0 20px 0;
    font-weight:normal;
}
p {
    padding:0;
    margin:0 0 20px 0;
}
a:link, a:visited {
    text-decoration:underline;
    color:#000000;
}
a:hover {
    text-decoration:none;
}
ul li {
    padding:5px 0;
}
ul li input[type="text"], ul li input[type="password"] {
    width:200px;
}
/* Headers */
h1 {
    font-size:1.8em;
}
h2 {
    font-size:1.4em;
}
.logo {
    font:2em Arial;
    margin:0 0 10px 0;
    padding:0;
    width:200px;
    color:#fff;
}
/* Containers */
body {
    /*background:lightslategray;*/
	background:url("../images/contentBG.gif") repeat top left;
	/*background-color:#515159;*/
    font-family:Arial;
    font-size:0.8em;
}
#container, footer {
    background:#fff;
    width:920px;
    margin:0 auto;
    padding:20px;
}
header {
    width:940px;
    padding:10px;
    margin:0 auto 10px auto;
}
header a:visited, header a:link {
    text-decoration:none;
	color:#fff;
}
#container {
    min-height:500px;
    border-radius:5px 5px 0 0;
}
footer {
    border-radius:0 0 5px 5px;
}
.widget {
    margin-bottom:20px;
	border:1px 1px 1px 1px solid #ddd;
}
.widget h2 {
    margin:0 0 10px 0;
    padding:0 5px;
    font-weight:normal;
    border-bottom:1px solid #ddd;
	text-align:center;
}
.widget .inner {
    margin:0 10px;
}
.itemContainingBlock {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    vertical-align: middle;
}
.items_table td {
	border:1px solid rgba(0, 0, 0, 0.08);
	background-color:#eee;
	border-radius:3px;
	width:200px;
	height:200px;
	text-align:center;
    display:table-cell;
    vertical-align:middle;
}
.items_table img {
	border: 0px;
}
.itemImageCenter {
	display:table-row;
	vertical-align:middle;
}
.items_detail_button {
	position:absolute;
	min-width: 36px;
	display: inline-block;
	padding: 4px 5px;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	bottom: 10px;
	right: 10px;
	background: #690;
	background: -moz-linear-gradient(top, #8c0 0%, #460 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8c0), color-stop(100%,#460));
	background: -webkit-linear-gradient(top, #8c0 0%,#460 100%);
	background: -o-linear-gradient(top, #8c0 0%,#460 100%);
	background: -ms-linear-gradient(top, #8c0 0%,#460 100%);
	background: linear-gradient(top, #8c0 0%, #460 100%);
}
.itemsName {
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
.itemDisplay {
	width:625px;
}
.itemDisplayData {
	border:1px solid rgba(0, 0, 0, 0.08);
	background-color:#eee;
	border-radius:3px;
	width:300px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding:5px 0;
	margin-bottom:5px;
}
.itemDisplayName {
	font-size:1.8em;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
}
.itemDisplayWarning {
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	background: #ff9d00;
	background: -moz-linear-gradient(top, #FF8800 0%, #BF6600 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF8800), color-stop(100%,#BF6600));
	background: -webkit-linear-gradient(top, #FF8800 0%,#BF6600 100%);
	background: -o-linear-gradient(top, #FF8800 0%,#BF6600 100%);
	background: -ms-linear-gradient(top, #FF8800 0%,#BF6600 100%);
	background: linear-gradient(top, #FF8800 0%, #BF6600 100%);
}
.itemDisplayInactiveSteamID {
	cursor: pointer;
}
.itemDisplayPrice {
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	background: #690;
	background: -moz-linear-gradient(top, #8c0 0%, #460 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8c0), color-stop(100%,#460));
	background: -webkit-linear-gradient(top, #8c0 0%,#460 100%);
	background: -o-linear-gradient(top, #8c0 0%,#460 100%);
	background: -ms-linear-gradient(top, #8c0 0%,#460 100%);
	background: linear-gradient(top, #8c0 0%, #460 100%);
}
.itemDisplayPriceInactive {
	cursor: not-allowed;
}
.itemDisplayAdmin {
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	background: #e51515;
	background: -moz-linear-gradient(top, #c00 0%, #660000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c00), color-stop(100%,#660000));
	background: -webkit-linear-gradient(top, #c00 0%,#660000 100%);
	background: -o-linear-gradient(top, #c00 0%,#660000 100%);
	background: -ms-linear-gradient(top, #c00 0%,#660000 100%);
	background: linear-gradient(top, #c00 0%, #660000 100%);
}
.icon {
	margin:0 3px -3px 0 !important;
    padding:0;
    border:none !important;
    width:16px !important;
    height:16px !important;
}
#deleteForm, #buyForm {
	display:none;
}
/* Navigation */
nav {
    float:left;
}
nav ul {
    margin:0;
}
nav ul li {
    display:inline;
    margin-right:10px;
}
nav ul li a {
    text-decoration:none;
}
nav ul li.current {
    font-weight:bold;
}
nav ul li a.last {
    border-right:0;
}
/* Aside */
aside {
    width:260px;
    float:right;
    border-left:1px dashed #aaa;
    padding-left:15px;
}
/* Login */
#login li.link {
    margin-top:5px;
}
/* Footer */
footer {
    border-top:1px dashed #ddd;
    color:#999;
}
/* Misc */
.clear {
    clear:both;
}
.error {
    color:red;
}
/*.popup {
	display:inline;
	position:relative;
	z-index:0;
}
.popup span {
	position:absolute;
	display:none;
}
.popup:hover {
	z-index:50;
	cursor:pointer;
}
.popup:hover span {
	display:inline;
	top:0;
	right:200px;
}*/
/* CSS Document */

